.cuerpo {
    background-color: #ffffff;
    height: 850px; /* Ajusta según tus necesidades */
    position: relative; /* Agrega posición relativa al cuerpo */
    overflow: hidden;
}

.bambu {
    width: 440px;
    margin-top: 220px;
}

.custom {
    transform: translateY(-600px);
    margin-left:500px;
}

.cuerpo h5 {
    position: absolute; /* Cambia la posición a absoluta */
    margin-top: 200px; /* Ajusta según tus necesidades */
    left: 750px; /* Ajusta según tus necesidades */
    color: black;
    font-size: 30px;
    text-decoration: underline #fa8cef;
}


.button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    transform: translateY(-300px);
    margin-left: 900px;
}

.button:hover {
    box-shadow: .5px .5px 150px #252525;
}

.type1::after {
    content: "¡HECHO!";
    height: 50px;
    width: 150px;
    background-color: #f397ee;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1::before {
    content: "Finalizar Día";
    height: 50px;
    width: 150px;
    background-color: #f397ee;
    color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1:hover::after {
    transform: translateY(0) scale(1.2);
}

.type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}